name: tests

on:
  push:
    tags:
      - v*
    branches:
      - actions
      - main
  pull_request:

jobs:
  hord:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: |
        /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out .
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
    
  cassandra:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    services:
      cassandra-primary:
        image: madflojo/cassandra:latest
        env:
          CASSANDRA_KEYSPACE: hord
        ports:
          - 7000
          - 7001
          - 7199
          - 9042
          - 9160

      cassandra:
        image: madflojo/cassandra:latest
        env:
          CASSANDRA_SEEDS: cassandra-primary
          CASSANDRA_KEYSPACE: hord
          SLEEP_TIMER: 15
        ports:
          - 7000
          - 7001
          - 7199
          - 9042
          - 9160
    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: |
        sleep 120 
        /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out ./drivers/cassandra
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  redis:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    services:
      redis:
        image: bitnami/redis:latest
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          ALLOW_EMPTY_PASSWORD: yes

      redis-sentinel:
        image: bitnami/redis-sentinel:latest
        env:
          REDIS_URL: redis://redis:6379
    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: |
        /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out ./drivers/redis
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  nats:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    services:
      nats:
        image: madflojo/nats
        ports:
          - 8222
        env:
          NATS_EXTRA_FLAGS: -js

    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: |
        /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out ./drivers/nats
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  mock:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out ./drivers/mock
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  hashmap:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out ./drivers/hashmap
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  boltdb:
    runs-on: ubuntu-latest
    container: madflojo/ubuntu-build
    steps:
    - uses: actions/checkout@v3
    # Using this instead of actions/setup-go to get around an issue with act
    - name: Install Go
      run: |
           curl -L https://go.dev/dl/go1.19.9.linux-amd64.tar.gz | tar -C /usr/local -xzf -
    - name: Execute Tests
      run: /usr/local/go/bin/go test -v -race -covermode=atomic -coverprofile=coverage.out ./drivers/bbolt
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
